{{define "setting"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>DB設定</title>
</head>
<body>
<h1>DB設定</h1>
    <form action="/setting" method="post" enctype="multipart/form-data">
        <p><label>ホスト : <input type="text" name="remote_host" value="{{.RemoteHost}}"></label></p>
        <p><label>ユーザ名 : <input type="text" name="user" value="{{.DbUser}}"></label></p>
        <p><label>パスワード : <input type="password" name="password" value="{{.DbPassword}}"></label></p>
        <p><label>データベース : <input type="text" name="database" value="{{.Database}}"></label></p>
        <p><label>ポート : <input type="text" name="port" value="{{.DbPort}}"></label></p>
        <p><input type="submit" value="設定"></p>
    </form>
</body>
</html>
{{end}}